.extension-body {
  min-width: 400px;
}

#packageSelection{
  min-width: 300px;
  max-width: 400px;
  min-height: 30px;
  margin: 10px;
}

#verifyBtn{
  height: 30px;
  margin: 10px;
  background-color: #28BEF2;
  border-color: none;
  text-decoration-color: white;
  color: white;
  border-radius: 2px;
  border: none
}

.select-label{
  font-size:small;
  margin: 10px;
}

.loader {
  margin-top: 10px;
  margin-left: 130px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}